body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12pt;
  line-height: 1;
  color: #333;
  margin: 0 auto;
  background-color: green;
}
html, body{
  touch-action: manipulation;
}
